<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="temp/thymeleaf_layout">
<head>
    <title>경매 등록</title>
    <link rel="stylesheet" th:href="@{/css/supplies/write.css}">
    <script defer th:src="@{/js/supplies/write.js}"></script>
    <script src="../../static/js/supplies/write.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</head>

<th:block layout:fragment="content">


    <div class="main">
        <div class="container">
            <h1>용품 글쓰기</h1>
            <div>

                <form method="post" th:action="@{/supplies/write}" th:object="${suppliesEntity}" enctype="multipart/form-data">

                    <input type="hidden" th:with="icate=${param.icategory}" th:data-icategory="${icate}"
                           th:field="*{icategory}" th:value="${icategory}">
                    <input type="hidden" id="iboard" th:field="*{iboard}" th:value="${suppliesEntity.iboard}">
                    <!--icategory value를 안정해서 오류가 났다.-->
                    <div>
                        <label for="title">제목 : <input id="title" required type="text" placeholder="제목을 입력하세요"
                                                       th:field="*{title}" th:value="${title}"></label>
                    </div>
                    <div>
                        <label for="ctnt">내용 : <input id="ctnt" required type="text" placeholder="내용을 입력하세요"
                                                      th:field="*{ctnt}" th:value="${ctnt}"></label>
                    </div>
                    <div>
                        <label for="price">경매가 :<input id="price" required type="number" placeholder="판매가"
                                                     th:field="*{price}" th:value="${price}"></label>
                    </div>
                    <div data-name="fileDiv" class="form-group filebox bs3-primary">
                        <label for="file_0" class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                            <input type="text" class="upload-name" value="파일 찾기" readonly/>
                            <label for="file_0" class="control-label">찾아보기</label>
                            <input type="file" name="files" id="file_0" class="upload-hidden" onchange="changeFilename(this)" />

                            <button type="button" onclick="addFile()" class="btn btn-bordered btn-xs visible-xs-inline visible-sm-inline visible-md-inline visible-lg-inline">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                            <button type="button" onclick="removeFile(this)" class="btn btn-bordered btn-xs visible-xs-inline visible-sm-inline visible-md-inline visible-lg-inline">
                                <i class="fa fa-minus" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>

                    <div id="btnDiv">
                        <input id="supplies_submit" type="submit" value="등록하기">
                    </div>
                </form>
             </div>

        </div>
    </div>

</th:block>
</html>