<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.portfolio.lagarto.customer.files.AttachMapper">

    <sql id="attachColumns">
        idx
        , iboard
		, original_name
		, save_name
		, size
		, delete_yn
		, insert_time
		, delete_time
    </sql>

    <insert id="insertAttach" parameterType="list">
        INSERT INTO lagarto.tb_attach (
        <include refid="attachColumns" />
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.idx}
            , #{item.iboard}
            , #{item.original_name}
            , #{item.save_name}
            , #{item.size}
            , 'N'
            , NOW()
            , NULL
            )
        </foreach>
    </insert>

    <select id="selectAttachDetail" parameterType="int" resultType="AttachDTO">
        SELECT
        <include refid="attachColumns" />
        FROM
        lagarto.tb_attach
        WHERE
        delete_yn = 'N'
        AND
        idx = #{idx}
    </select>

    <update id="deleteAttach" parameterType="long">
        UPDATE lagarto.tb_attach
        SET
            delete_yn = 'Y'
          , delete_time = NOW()
        WHERE
            iboard = #{iboard}
    </update>

    <select id="selectAttachList" resultType="AttachDTO">
        SELECT
        *
        FROM
        lagarto.tb_attach
        WHERE
        delete_yn = 'N'
        AND
        iboard = ${iboard}
        ORDER BY idx
    </select>

    <select id="selectAttachTotalCount" parameterType="int" resultType="int">
        SELECT
            COUNT(*)
        FROM
            lagarto.tb_attach
        WHERE
            delete_yn = 'N'
          AND
            iboard = ${iboard}
    </select>

</mapper>