<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--메퍼 설정 하세요-->
<mapper namespace="com.portfolio.lagarto.auction.AuctionMapper">

    <insert id="insAuction">
        insert into lagarto.auction
        (icategory, title, ctnt, iuser, buy, imbuy, image1, image2, image3, image4, image5,buyer)
        values
        (#{icategory}, #{title}, #{ctnt}, #{iuser}, #{buy}, #{imbuy}, #{image1}, #{image2}, #{image3}, #{image4}, #{image5},0)

    </insert>


    <!--총 게시판 번호가져오려고 적음.-->
    <select id="insAuctionList" resultType="AuctionVo">
        select *,
        B.nm as writernm
        From lagarto.auction A
        Left join lagarto.lagarto_user B
        ON A.iuser = B.iuser
        where A.isdel = 0
        Order by A.iboard DESC
        LIMIT 1

    </select>

    <!--전체 sel 하는거 하나 만들어야할듯-->

    <select id="selAuctionList" resultType="AuctionVo">
        select *,
        B.nm  as writernm, B.nickname as nicknm
        From lagarto.auction A
        Left join lagarto.lagarto_user B
        ON A.iuser = B.iuser
        where A.isdel = 0
        and A.icategory = ${icategory}
        Order by A.iboard DESC

    </select>

    <select id="selAuctionListAll" resultType="AuctionVo">
        select *,
        B.nm as writernm, B.nickname as nicknm
        from lagarto.auction A
        left join lagarto.lagarto_user B
        on A.iuser = B.iuser
        where A.isdel = 0
        order by A.rdt desc
    </select>

  <!--디테일 만들쟈~-->
    <select id="selAuctionDetail" resultType="AuctionVo">
        SELECT *,
        B.nm as writernm , B.profile_img,B.nickname as nicknm , C.nm as categorynm, D.nickname AS buyernickname
        from lagarto.auction A
        left join lagarto.lagarto_user B
        on A.iuser = B.iuser
        LEFT JOIN lagarto.lagarto_user D
        ON A.buyer = D.iuser
        left join lagarto.auction_category C
        on A.icategory = C.icategory
        where A.iboard = #{iboard}

    </select>

    <!--삭제부분 update로 삭제 수정 같이-->

    <update id="updAuction">
        UPDATE lagarto.auction
        set
        title=#{title},
        ctnt=#{ctnt},
        imbuy = #{imbuy},
        buy = #{buy},
        image1 = #{image1},
        image2 = #{image2},
        image3 = #{image3},
        image4 = #{image4},
        image5 = #{image5}
        WHERE iboard = ${iboard}
        and iuser = ${iuser}
    </update>


    <update id="delAuction">
        UPDATE lagarto.auction
        set
        isdel = #{isdel}
        where iboard = ${iboard}
    </update>





    
    
    
    
</mapper>