<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--메퍼 설정 하세요-->
<mapper namespace="com.portfolio.lagarto.auction.bid.AuctionBidMapper">



    <update id="updBid">
        UPDATE lagarto.auction SET buy = #{buy}, buyer = #{buyer} ,
        prebuyer = #{prebuyer} , prebuy=#{prebuy}, mdt = DATE_ADD(NOW(), INTERVAL 10 SECOND)
        WHERE iboard = #{iboard}
    </update>


    <update id="returnmoney">
        UPDATE lagarto.lagarto_user SET money = money + #{prebuy}
        WHERE iuser = #{prebuyer};
    </update>
    
    <update id="removemoney">
        UPDATE lagarto.lagarto_user SET money = money - #{buy}
        WHERE iuser = #{buyer};
    </update>

    <update id="firstremovemoney">
        UPDATE lagarto.lagarto_user SET money = money - #{prebuy}
        WHERE iuser = #{prebuyer}
    </update>



    <select id="findmoney" resultType="int">
        SELECT money FROM lagarto_user
        WHERE iuser = #{buyer}
    </select>

    <select id="checktimer" resultType="int">
        SELECT mdt FROM auction
        WHERE iboard = #{iboard};
    </select>

    <update id="bidcheck">
        update auction set bid = 1
        where iboard = #{iboard}
    </update>




</mapper>