<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--메퍼 설정 하세요-->
<mapper namespace="com.portfolio.lagarto.auction.AuctionMapper">

    <insert id="insAuction">
        insert into auction
        (icategory, title, ctnt, iuser, buy, imbuy)
        values
        (#{icategory}, #{title}, #{ctnt}, #{iuser}, #{buy}, #{imbuy})

    </insert>

    <!--전체 sel 하는거 하나 만들어야할듯-->

    <select id="selAuctionList" resultType="AuctionVo">
        select A.iboard,A.icategory, A.title, A.iuser, A.hits, A.images, A.ctnt , A.imbuy, A.buy,
        B.nm as writernm
        From auction A
        Left join lagarto_user B
        ON A.iuser = B.iuser
        where A.isdel = 0
        and A.icategory = ${icategory}
        Order by A.iboard DESC

    </select>

    <select id="selAuctionListAll" resultType="AuctionVo">
        select A.iboard, A.icategory, A.title, A.iuser, A.hits, A.images, A.ctnt , A.imbuy, A.buy,
        B.nm as writernm
        from auction A
        left join lagarto_user B
        on A.iuser = B.iuser
        where A.isdel = 0
        order by A.rdt desc
    </select>

  <!--디테일 만들쟈~-->
    <select id="selAuctionDetail" resultType="AuctionVo">
        select A.iboard, A.title,A.icategory ,A.iuser, A.hits, A.images, A.ctnt , A.imbuy, A.buy,
        B.nm as writernm, B.profile_img
        from auction A
        left join lagarto_user B
        on A.iuser = B.iuser
        where A.isdel = 0
        AND A.iboard = ${iboard}


    </select>
    
    
    
    
    
</mapper>