<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.portfolio.lagarto.auction.bid.AuctionBidMapper">


    <update id="updBid">
        UPDATE auction SET buy = #{buy}, buyer = #{buyer} ,
        prebuyer = #{prebuyer} , prebuy=#{prebuy}, mdt = now()
        WHERE iboard = #{iboard}
    </update>


    <update id="returnmoney">
        UPDATE lagarto_user SET money = money + #{prebuy}
        WHERE iuser = #{prebuyer}
    </update>
    
    <update id="removemoney">
        UPDATE lagarto_user SET money = money - #{buy}
        WHERE iuser = #{buyer}
    </update>

    <select id="findmoney" resultType="int">
        SELECT money FROM lagarto_user
        WHERE iuser = #{buyer}
    </select>




</mapper>