<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.portfolio.lagarto.customer.CustomerMapper">

    <insert id="insCustomer" parameterType="CustomerDto" useGeneratedKeys="true" keyProperty="iboard">
        INSERT INTO lagarto.customer
        (iboard, board_cd, title, ctnt, iuser, rating, secretYn)
        VALUES
        (${iboard}, ${board_cd}, #{title}, #{ctnt}, ${iuser}, ${rating}, #{secretYn})
    </insert>

    <select id="selCustomerList" parameterType="TestDto" resultType="CustomerVo">
        SELECT A.* , B.nickname, C.title AS productTitle, C.iboard FROM lagarto.customer A
        INNER JOIN lagarto.lagarto_user B ON A.iuser = B.iuser
        LEFT JOIN lagarto.auction C ON A.product_cd = C.iboard
        WHERE A.board_cd = ${board_cd} AND A.isdel = 0
        <if test="searchKeyword != null and searchKeyword != ''">
            <choose>
                <!-- 검색 유형이 있을 때 -->
                <when test="searchType != null and searchType != ''">
                    <choose>
                        <when test="'title'.equals(searchType)">
                            AND A.title LIKE CONCAT('%', #{searchKeyword}, '%')
                        </when>
                        <when test="'ctnt'.equals(searchType)">
                            AND A.ctnt LIKE CONCAT('%', #{searchKeyword}, '%')
                        </when>
                        <when test="'nickname'.equals(searchType)">
                            AND B.nickname LIKE CONCAT('%', #{searchKeyword}, '%')
                        </when>
                    </choose>
                </when>
                <!-- 검색 유형이 없을 때 -->
                <otherwise>
                    AND
                    (
                    A.title LIKE CONCAT('%', #{searchKeyword}, '%')
                    OR A.ctnt LIKE CONCAT('%', #{searchKeyword}, '%')
                    OR B.nickname LIKE CONCAT('%', #{searchKeyword}, '%')
                    )
                </otherwise>
            </choose>
        </if>
        ORDER BY A.iboard DESC
        LIMIT #{paginationInfo.firstRecordIndex}, #{recordsPerPage}
    </select>

    <select id="selCustomerDetail" resultType="CustomerVo">
        SELECT A.*, B.nickname, C.board_nm, D.title AS productTitle FROM lagarto.customer A
        LEFT JOIN lagarto.lagarto_user B ON A.iuser = B.iuser
        LEFT JOIN lagarto.customer_board_type C ON A.board_cd = C.board_cd
        LEFT JOIN lagarto.auction D ON A.product_cd = D.iboard
        WHERE A.iboard = ${iboard}
    </select>

    <select id="totalCount" parameterType="TestDto" resultType="int">
        SELECT COUNT(*) FROM lagarto.customer WHERE isdel = 0 AND board_cd = ${board_cd}
    </select>

    <update id="updCustomer">
        UPDATE lagarto.customer
        SET

        title = #{title},
        ctnt = #{ctnt},
        rating = ${rating}
        WHERE iboard = ${iboard}
        AND iuser = ${iuser}
    </update>

    <update id="delCustomer">
        UPDATE lagarto.customer
        SET
            isdel = #{isdel}
        WHERE iboard = ${iboard}
    </update>
</mapper>