<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--메퍼 설정 하세요-->
<mapper namespace="com.portfolio.lagarto.user.UserMapper">

    <insert id="insCustomer">
        INSERT INTO lararto_customer
        (board_num, title, ctnt, ctnt_img, iuser)
        VALUES
        (${board_num}, #{title}, #{ctnt}, #{ctnt_img}, ${iuser})
    </insert>

    <select id="selCustomerList" resultType="CustomerVo">
        SELECT A.* , B.nickname, C.title AS productTitle, C.iboard FROM lagarto_customer A
        INNER JOIN lagarto_user B ON A.iuser = B.iuser
        LEFT JOIN lagarto_main C ON A.product_num = C.iboard
        WHERE A.board_num = ${board_num}
        ORDER BY A.iboard DESC
    </select>

    <select id="selCustomerDetail" resultType="CustomerVo">
        SELECT A.*, B.nickname, C.board_name FROM lagarto_customer A
        LEFT JOIN lagarto_user B ON A.iuser = B.iuser
        LEFT JOIN lagarto_board_type C ON A.board_num = C.board_num
        WHERE A.iboard = ${iboard}
    </select>
</mapper>