<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.portfolio.lagarto.customer.comment.CustomerCommentMapper">
    <insert id="insCustomerCmt">
        INSERT INTO lagarto.customer_comment
        (iboard, iuser, ctnt)
        VALUES
        (${iboard}, ${iuser}, #{ctnt})
    </insert>

    <select id="selCustomerCmtList" resultType="CustomerCommentVo">
        SELECT A.*, B.nickname FROM
        lagarto.customer_comment A
        LEFT JOIN lagarto.lagarto_user B
        ON A.iuser = B.iuser
        WHERE A.iboard = ${iboard}
        ORDER BY A.icmt
    </select>

    <select id="selCustomerCmtOne" resultType="CustomerCommentVo">
        SELECT A.*, B.nickname FROM
        customer_comment A
        LEFT JOIN lagarto_user B
        ON A.iuser = B.iuser
        WHERE A.iboard = ${iboard}
        AND A.icmt = ${icmt}
    </select>
</mapper>