<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--메퍼 설정 하세요-->
<mapper namespace="com.portfolio.lagarto.follow.FollowMapper">
    <insert id="follow">
        insert into `lagarto`.`lagarto_user_follow`(iuserMe, iuserYou) VALUES (#{iuserMe}, #{iuserYou})
    </insert>

    <delete id="unfollow">
        delete from `lagarto`.`lagarto_user_follow` where iuserMe = #{iuserMe} AND iuserYou = #{iuserYou}
    </delete>

    <select id="isFollow" resultType="int">
        select count(*) from `lagarto`.`lagarto_user_follow` where iuserMe=#{iuserMe} and iuserYou = #{iuserYou}
    </select>

    <select id="FollowList" resultType="FollowEntity">
        select F.iuserMe, F.iuserYou, U.nickname, U.level FROM `lagarto`.`lagarto_user_follow` F LEFT OUTER JOIN `lagarto`.`lagarto_user` U ON (F.iuserYou =  U.iuser) WHERE F.iuserMe = #{iuserMe};
    </select>

    <select id="FollowingList" resultType="FollowEntity">
        select F.iuserMe, F.iuserYou, U.nickname, U.`level` FROM `lagarto`.`lagarto_user_follow` F LEFT OUTER JOIN `lagarto`.`lagarto_user` U ON (F.iuserMe =  U.iuser) WHERE F.iuserYou = #{iuserYou};
    </select>
</mapper>