#containers{
    width: 340px;
    border: 2px solid #2b2a29;
    float: none;
    margin: 0 auto;
    padding-bottom: 5px;
}

#moneys{
    display: flex;
    justify-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#bottoms{
    display: flex;
    justify-items: center;
    justify-content: center;
    float: none;
    margin: 0 auto;
    text-align: center;
}

#money-page{
    display: flex;
    justify-items: center;
    justify-content: center;
}

#money-contain{
    background-image: url("/static/img/kakaoBack.jpg");
}