#containers{
    width: 340px;
    border: 2px solid #2b2a29;
    float: none;
    margin: 0 auto;
    padding-bottom: 5px;
    background: white;
}

#moneys{
    display: flex;
    justify-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#bottoms{
    display: flex;
    justify-items: center;
    justify-content: center;
    float: none;
    margin: 0 auto;
    text-align: center;
    height: 207px;
}

#money-page, #mBn{
    display: flex;
    justify-items: center;
    justify-content: center;
}

#money-contain{
    height: 120vh;
    background-image: url("/static/img/kakakback.png");
    background-repeat : no-repeat;
    background-size : cover;
}

#font-money{
    font-weight: bold;
}

.moneyCountBtn{
    background: transparent;
    border: transparent;
    margin: 5px;
}

#nullCharge{
    padding-top: 20px;
    color: #0d6efd;
}

