.main {
    width: 40%;
    margin: 0 auto;
    font-size: 0.825rem;
}

.disc_area table {
    width: 100%;
}

.disc_area table caption {
    display: none;
    overflow: hidden;
}

.disc_area table th {
    background: #fafafa;
}

.disc_area table.t_col_2 th {
    width: 40%;
}

.disc_area table.t_col_4 th:nth-child(2) {
    width: 40%;
}

.disc_area table th, .disc_area table td {
    border: 0.0625rem solid #d3d3d3;
    text-align: center;
    padding: 1rem 0.5rem;
}

.disc_area .li_style {
    list-style: none;
}