#information-frm{
    display: flex;
    justify-content: center;
    justify-items: center;

}

#information-container{
    margin: 20px;
    padding: 20px;
    box-shadow: 2px 1px 3px 1px #999;
    border: 1px solid #e7e7e7;
}

input{
    margin: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
}

#information-upd{
    display: flex;
    justify-items: center;
    justify-content: center;
    float: none;
    margin: 0 auto;
}