.main {
    width: 100%;
}

.logoMain{
    display: flex;
    justify-content: center;
    justify-items: center;
}

.logo{
    padding: 2%;
    width: 15%;
    margin-bottom: 2rem;
}

.loginWrap {
    width: 20%;
    margin: 0 auto;
}

.social{
    float: none;
    margin: 0 auto;
    width: 100%;
    height: 15%;
}

.row-cols-2{
    width: 100%;
    height: 100%;
}

.col{
    text-align: center;
    font-weight: bolder;
    width: 100%;
    height: 50%;
    border: 1px solid #000;
}

#btnLogin, #btnJoin {
    width: 100%;
    border: 0.0625rem solid #000;
    border-radius: 0;
    font-size: 0.9rem;
    padding: 1rem;
}

.btn-outline-success {
    color: #000;
    border: 0.0625rem solid #000;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #000;
}

.btn-outline-success.disabled, .btn-outline-success:disabled {
    color: #747474;
    background-color: transparent;
    border: 0.0625rem solid #000;
}

#formId{
    width: 100%;
    border: 0.0625rem solid var(--border-color-default);
    border-radius: 0;
    font-size: 0.8625rem;
    margin-bottom: 0.5rem;
    padding: 0.9rem 1rem;
}

#formPw{
    width: 100%;
    border: 0.0625rem solid var(--border-color-default);
    border-radius: 0;
    font-size: 0.8625rem;
    padding: 0.9rem 1rem;
}

.findInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}

.findInfo div:not(:nth-child(2)) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.findInfo .isSave input[type="checkbox"] {
    display: none;
}

.findInfo .isSave input[type="checkbox"] ~ label {
    width: 1rem;
    height: 1rem;
    border: 0.0625rem solid var(--border-color-default);
}

.findInfo .isSave input[type="checkbox"]:checked ~ label {
    width: 1rem;
    height: 1rem;
    background: url("/static/img/checkbox.png") no-repeat center / 1rem 1rem;
    border: 0.0625rem solid transparent;
}

.findInfo .isSave span {
    font-size: 0.8rem;
    margin-left: 0.5rem;
}

.findInfo a {
    color: #212529;
    font-size: 0.8rem;
    text-decoration: none;
}

.findInfo .bar {
    display: inline-block;
    width: 1px;
    height: 12px;
    margin: 0 10px;
    background-color: #ccc;
    color: #ccc;
}
#msg-login{
    text-align: center;
    color: red;
    margin-bottom: 10px;
}
#btnUser{
    display: flex;
    justify-content: center;
    justify-items: center;
}


#btnUser > button:nth-child(2){
    margin-left: 1%;
}

.findUser{
    display: flex;
    justify-content: center;
    justify-items: center;
}

#test{
    float: none;
    margin: 0 auto;
    border: 1px solid #000000;
    width: 50px;
    height: 50px;
}

#generalLogin {
    margin-bottom: 2.5rem;
}

#generalLogin .loginArea label {
    width: 100%;
}


/* 로그인 버튼 */
#apiLogin > div {margin-bottom: 0.5rem;}

.apiLoginBtn {
    display: block;
    background: #fff;
    color: #444;
    width: 100%;
    border: thin solid var(--border-color-default);
    white-space: nowrap;
    margin: 0 auto;
}
.apiLoginBtn:hover {
    cursor: pointer;
}

.apiLoginBtn > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1rem;
}

span.label {
    font-family: serif;
    font-weight: normal;
}

span.icon {
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
}

#naver span.icon {
    background: url('/static/img/naver_logo.png') transparent no-repeat center / 1.3rem 1.3rem;
}

#kakao span.icon {
    background: url('/static/img/kakao_logo.png') transparent no-repeat center / 1.3rem 1.3rem;
}

#google span.icon {
    background: url('/static/img/google_logo.svg') transparent no-repeat center / 1.3rem 1.3rem;
}

span.buttonText {
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
    margin: 0 auto;
    font-size: 0.825rem;
    font-weight: 500;
}








