<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="temp/thymeleaf_layout">

<head>
    <title>상세 정보</title>
    <link rel="stylesheet" th:href="@{/static/css/auction/detail.css}">
    <script defer th:src="@{/static/js/auction/detail.js}"></script>
</head>
<th:block layout:fragment="content">

<!--todo: 가격올리기 기능,수정, 삭제, 댓글, 좋아요-->

    <!--session.loginUser 를 빼주면 session.loginUser.iuser가 null일때 에러.-->
<div id="dataIuser" th:with="data=${Data}" th:data-iuser="${Data.iuser}">
    <div id="data" th:with="ibo=${param.iboard}" th:data-iboard="${ibo}">
    <div th:if="${session.loginUser != null && session.loginUser.iuser == data.iuser}">
        <button id="modBtn">수정</button>
        <button id="delBtn">삭제</button>
    </div>
        <!--<a th:href="@{/auction/del(iboard=${ibo})}">삭제</a>-->
    ~~~~~여기는 디테일 부분 ~~~~~
        <div id="follow"><button id="follow-Btn">팔로우</button></div>
        <div id="unfollow"><button id="unfollow-Btn">언팔로우</button></div>
    <div class="detail_item" }>
    <div>작성자 : <span th:text="${data.writernm}"/></div> <!--옆에 프로필사진-->
    <div>카테고리 : <span th:text="${data.categorynm}"/></div>
    <div>제목 :<span  th:text="${data.title}"/> </div>
    <div>내용 : <span  th:text="${data.ctnt}"/></div>
    <div>즉시 구매가: <span th:text="${data.imbuy}"/> 원</div>
    <div>현재가 :<span th:text="${data.buy}"/> 원
        <span th:if="${session.loginUser != null}">
            <input type="button" value="경매가 올리기" onclick="uppricePopup();" class="current_price"></span></div>

    <div id="img_item">
        <img id="image0" onclick="test();" class="click_img" th:src="@{/static/uploadfile/} + ${data.iboard} + @{/} + ${data.image1}" onerror="this.style.display='none'" } />
        <img id="image1" onclick="test();" class="click_img" th:src="@{/static/uploadfile/} + ${data.iboard} + @{/} + ${data.image2}" onerror="this.style.display='none'" }} />
        <img id="image2" onclick="test();" class="click_img" th:src="@{/static/uploadfile/} + ${data.iboard} + @{/} + ${data.image3}" onerror="this.style.display='none'" }/>
        <img id="image3" onclick="test();" class="click_img" th:src="@{/static/uploadfile/} + ${data.iboard} + @{/} + ${data.image4}" onerror="this.style.display='none'" } />
        <img id="image4" onclick="test();" class="click_img" th:src="@{/static/uploadfile/} + ${data.iboard} + @{/} + ${data.image5}" onerror="this.style.display='none'" } />
    </div>

    </div>
</div>

</th:block>
</html>