<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="temp/thymeleaf_layout">

<head>
    <title>리스트</title>
    <link rel="stylesheet" th:href="@{/css/auction/list.css}">
    <script defer th:src="@{/js/auction/list.js}"></script>
</head>

<th:block layout:fragment="content" >
    <div id="data" th:with="icate=${param.icategory}" th:data-icategory="${icate}"></div>
    <div>
        <div th:if="${icategory ge 1}"><a th:href="@{/auction/write/{icategory}(icategory=${icategory})}">글쓰기</a></div>
    </div>

<!--a태그로 이동하는 이벤트 했음. -->
    <div class="auction_container">
        <ul class="auction_list">
            <li class="record"  th:each="data:${List}"><a th:href="@{/auction/detail(iboard=${data.iboard})}">
                <div hidden>게시판 번호: <span class="iboard" th:text="${data.iboard}"/></div>
                <div th>
                    <img th:src="@{/img/Lagarto.PNG}"/>
                </div>
                <div>작성자 : <span th:text="${data.writernm}"/> </div>
                <div>조회수 : <span th:text="${data.hits}"/></div>

                <div class="auction_info">
                    <div>제목 :<span th:text="${data.title}"/></div>
                    <div>내용 : <span th:text="${data.ctnt}"/></div>
                </div>
                <div>
                    <div>즉시구매가 : <span th:text="${data.imbuy}"/> 원</div>
                    <div>경매가 : <span th:text="${data.buy}"/> 원</div>
                </div>
            </a>
            </li>

        </ul>

    </div>




<!--    <div class="auction_container">-->
<!--        <ul class="auction_list">-->
<!--            <li>-->

<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->







<!--<div class="auction_container">-->
<!--    <ul class="auction_list">-->
<!--        <c:forEach items="${requestScope.list}" var="item">-->
<!--            <li class="record" data-iboard="${item.iboard}">-->
<!--                <div>-->
<!--                    <img src="/res/img/Lagarto.PNG">-->
<!--                </div>-->
<!--                <div>조회수 : ${item.hits}</div>-->
<!--               -->

<!--                <div class="auction_info">-->
<!--                    <div>제목 : ${item.title}</div>-->
<!--                    <div>내용 : ${item.ctnt}</div>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <div>즉시구매가 : ${item.imbuy} 원</div>-->
<!--                    <div>경매가 : ${item.buy} 원</div>-->
<!--                </div>-->
<!--            </li>-->
<!--        </c:forEach>-->

<!--    </ul>-->

</th:block>

</div>





</html>