<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      >
<head>
    <meta charset="UTF-8"></meta>
    <title>업로드한것 확인하기</title>

    <link th:href="@{/static/css/temp/upload.css}" rel="stylesheet" />

</head>

<th:block layout:fragment="content" >

    <div>
        <span><a href="http://localhost:8090/auction/list/">리스트로 돌아가기</a></span>
    </div>
    <!--todo:자기가 쓴글 detail로 가도록-->

    <div>
        작성하신 내용입니다~~~~~~~~~~
        <div class="detail_item" th:with="ins=${inslist}">
            <div>게시판 번호: <span th:text="${ins.iboard}"/> </div>
            <div>제목 :<span th:text="${ins.title}"/> </div>
            <div>내용 :<span th:text="${ins.ctnt}"/></span></div>
            <div>즉시 구매가: <span th:text="${ins.imbuy}"/></span> 원</div>
            <div>현재가 :<span th:text="${ins.buy}"/> 원 </div>
         <!--<img th:src="@{/resources/uploadfile/} + ${ins.iboard} + &#47; + ${ins.image1}">-->
            <img th:src="@{/static/uploadfile/} + ${ins.iboard} + @{/} + ${ins.image1}" } onerror="this.style.display='none'"/>
            <img th:src="@{/static/uploadfile/} + ${ins.iboard} + @{/} + ${ins.image2}" } onerror="this.style.display='none'"/>
            <img th:src="@{/static/uploadfile/} + ${ins.iboard} + @{/} + ${ins.image3}" } onerror="this.style.display='none'"/>
            <img th:src="@{/static/uploadfile/} + ${ins.iboard} + @{/} + ${ins.image4}" } onerror="this.style.display='none'"/>
            <img th:src="@{/static/uploadfile/} + ${ins.iboard} + @{/} + ${ins.image5}" } onerror="this.style.display='none'"/>


        </div>
        <!--todo upload/게시판번호/사진.jpg  들을 뿌려줄거야 여기에-->



    </div>
</th:block>



</html>