<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="temp/thymeleaf_layout">

<head>
    <title>비밀번호 찾기 완료</title>
    <link rel="stylesheet" th:href="@{/css/user/forgot.result.css}">
</head>

<th:block layout:fragment="content">
    <div class="main">
        <h1>비밀번호 찾기 완료</h1>
        <div class="text_wrap">
            <p>입력하신 정보와 일치하는 결과를 찾았습니다.</p>
            <br>
            <p>가입하신 이메일로 임시 비밀번호를 전송 하였습니다.</p>
            <p>발급 받은 비밀번호로 로그인 해 주세요.</p>
        </div>
        <div class="btn_cont">
            <a href="/user/login"><input class="object_button prop_dark" type="button" value="로그인"></a>
        </div>
    </div>
</th:block>