<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="temp/thymeleaf_layout">

<head>
    <title>로그인</title>
    <link rel="stylesheet" th:href="@{/css/user/login.css}">
    <script defer th:src="@{/js/user/login.js}"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="../../static/js/user/login.js"></script>
</head>

<th:block layout:fragment="content">
    <div id="msg-login"></div>
    <div class="main">
        <div class="logoMain"><img class="logo" th:src="@{/img/lagarto_logo.svg}"></div>

        <div class="loginWrap">
            <form id="login" th:action="@{/user/login}" method="post" th:object="${vo}">
                <div hidden id="cookie_value" th:with="cookieValue=${rememberCookie?.getValue()}" th:data-cookie="${cookieValue}"></div>
                <div id="generalLogin">
                    <div class="loginArea" id="pId">
                        <span hidden>아이디</span>
                        <label>
                            <input type="text" class="form-control" id="formId" placeholder="아이디"
                                   name="uid" th:value="${rememberCookie?.getValue()}">
                        </label>
                    </div>
                    <div class="loginArea">
                        <span hidden>비밀번호</span>
                        <label>
                            <input type="password" class="form-control" id="formPw" placeholder="비밀번호"
                                   name="upw" th:field="*{upw}">
                        </label>
                    </div>
                    <div class="findInfo">
                        <div class="isSave">
                            <input id="saveId" type="checkbox" th:value="true">
                            <label for="saveId"></label>
                            <span>아이디 저장</span>
                        </div>
                        <div class="stretch"></div>
                        <div>
                            <a href="/user/forgotId">아이디 찾기</a>
                            <span class="bar"></span>
                            <a href="/user/forgotPw">비밀번호 찾기</a>
                        </div>
                    </div>
                    <div>
                        <div class="g-recaptcha-wrapper">
                            <div id="recaptcha" class="g-recaptcha" data-sitekey="6Ldq34seAAAAACoxUgs451Cl7FcrboIERxJs9_FM" data-callback="recaptchaCallback"></div>
                            <div id="topHider"></div>
                            <div id="rightHider"></div>
                            <div id="bottomHider"></div>
                            <div id="leftHider"></div>
                        </div>
                        <div id="btnUser">
                            <button type="button" class="btn btn-outline-success" id="btnLogin" onclick="return dologin()">로그인</button>
                            <button type="button" class="btn btn-outline-success" id="btnJoin">회원가입</button>
                        </div>
                    </div>
                </div>

                <div id="apiLogin">
                    <div id="naver" class="apiLoginBtn">
                        <div>
                            <span class="icon"></span>
                            <span class="buttonText">네이버 로그인</span>
                        </div>
                    </div>
                    <div id="kakao" onclick="loginWithKakao()" class="apiLoginBtn">
                        <div>
                            <span class="icon"></span>
                            <span class="buttonText">카카오 로그인</span>
                        </div>
                    </div>
                    <div id="google" onclick="onSignIn()" class="apiLoginBtn customGPlusSignIn">
                        <div>
                            <span class="icon"></span>
                            <span class="buttonText">구글 로그인</span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</th:block>