<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="temp/thymeleaf_layout">

<head>
    <title>장바구니</title>
    <link rel="stylesheet" th:href="@{/static/css/cart/cart.css}">
    <script defer th:src="@{/static/js/cart/cart.js}"></script>

</head>

<th:block layout:fragment="content">
    <div id="container-Cart">
        <div id="viewFist">
            <div id="carts">장바구니</div>
            <div id="tableList">
                <div id="tableListSize">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">번호</th>
                            <th scope="col">용품</th>
                            <th scope="col">가격</th>
                            <th scope="col">갯수</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td colspan="2">Larry the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div id="ListSum">
                    <div th:text="'총 주문 금액'"></div>
                    <div th:text="'현재금액 : ' + ${session.loginUser.money} + '원'"></div>
                    <div>결제금액 : 1000000원</div>
                </div>
            </div>
        </div>
        <div id="rable">
            <div id="viewSecond">
                <div id="address">
                    <div>지번</div>
                    <div class="textA" th:text="${session.loginUser.address_post}"></div>
                    <div>주소</div>
                    <div class="textA" th:text="${session.loginUser.address_primary}"></div>
                    <div>상세주소</div>
                    <div class="textA" th:text="${session.loginUser.address_secondary}"></div>
                    <div id="textNow">현재 설정한 주소로 배송 됩니다:)</div>
                </div>
                <div id="secondBtn">
                    <a th:href="@{/auction/list}"><button type="button" class="btn btn-outline-primary btn-lg">오늘의 용품 보러가기</button></a>
                    <button id="pay" type="button" class="btn btn-outline-success btn-lg">결제하기</button>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>