.main img{
    width: 100px;
    height: 100px;
}

#clickOpenUser{
    cursor: pointer;
}


#soldout{
    width: 300px;
    height: 300px;
}

#soldout
{ visibility: hidden; }
#bidwrite
{ visibility: visible; }
#formimbuybtn
{ visibility: visible; }