/*헤더 height로 크기 조절 가능*/
#wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#header{
    border-bottom: 0.0625rem solid var(--border-color-default);
    margin-bottom: 1%;
    width: 100%;
    height: 30%;
}
#content{
    width: 100%;
    flex: 1;
}

#footer{
    border-top: 0.0625rem solid var(--border-color-default);
    margin-top: 1%;
    width: 100%;
    height: 30%;
}

.main {padding: 6.5rem 0; width: var(--width-max); margin: 0 auto;}
.main h1 {font-size: 2rem; font-weight: 500; text-align: center; margin-bottom: 3rem;}


/* header */
.header_container {
    margin: 0 auto;
}

.header_container .header_logo {
    margin-right: 3rem;
}

.header_container ul {
    padding: 0;
}

.header_container li {
    list-style: none;
}

.header_container a {
    color: #212529;
    text-decoration: none;
}

.header_container nav {
    display: flex;
    flex-direction: column;
}

.header_container nav .user_menu {
    width: 100%;
    border-bottom: 0.0625rem solid var(--border-color-default);
    padding: 0.5rem 0;
}

.header_container nav .user_menu ul {
    width: var(--width-max);
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    justify-content: end;
    margin: 0 auto;
}

.header_container nav .user_menu ul li {
    margin-left: 2rem;
}




.header_container nav .header_content {
    width: var(--width-max);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
}

.header_container nav .header_content .menu_bar {
    width: 100%;
    align-items: flex-start;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

.header_container nav .header_content ul {
    margin: 0;
}

.header_container nav .header_content .main_list {
    display: flex;
    flex-direction: row;
}

.header_container nav .header_content .main_list .main_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.95rem;
    position: relative;
}

.header_container nav .header_content .main_list .main_menu:not(:last-child) {
    margin-right: 3rem;
}

.header_container nav .header_content .main_menu:hover a {
    color: #212529;
}
.header_container nav .header_content .main_menu .sub_list {
    pointer-events: none;
    width: 8rem;
    /*display: flex;*/
    /*flex-direction: column;*/
    font-size: 0.8rem;
    /*left: 50%;*/
    padding-top: 2rem;
    opacity: 0;
    position: absolute;
    transform: translate(0, 0.725rem);
    transition: opacity 200ms ease-in-out, transform 200ms ease-in, visibility 200ms ease-in;
    z-index: 999;
}

.header_container nav .header_content .main_menu:hover .sub_list {
    pointer-events: visible;
    opacity: 1;
    transform: translate(0, 0);
}

.header_container nav .header_content .main_list .sub_list .sub_menu {
    border-right: 0.0625rem solid var(--border-color-default);
    border-left: 0.0625rem solid var(--border-color-default);
    background-color: #ffffff;
}

.header_container nav .header_content .main_list .sub_list .sub_menu:first-child {
    border-top: 0.0625rem solid var(--border-color-default);
}

.header_container nav .header_content .main_list .sub_list .sub_menu:last-child {
    border-bottom: 0.0625rem solid var(--border-color-default);
}

.header_container nav .header_content .main_list .sub_list .sub_menu a {
    display: block;
    padding: 0.65rem 1rem;
}

.header_container nav .header_content .main_list .sub_list .sub_menu:hover {
    background-color: #f8f8f8;
}

.header_container nav .header_content .main_list .sub_list .sub_menu:hover a {
    color: #212529;
}



.header_container nav .header_content .icon_menu {
    display: flex;
    flex-direction: row;
}

.header_container nav .header_content .icon_menu a {
    margin-left: 1.5rem;
}

.header_container nav .header_content .icon_menu a img {
    width: 1.25rem;
}

.header_container nav .header_content .icon_menu a:nth-child(1) img {
    width: 1.15rem;
}






/* footer */
.footer_container {
    width: var(--width-max);
    margin: 0 auto;
    line-height: 1.3rem;
    padding: 3rem 0;
}

.footer_container a {
    color: #212529;
    text-decoration: none;
}

.footer_container a:hover {
    color: #212529;
}

.footer_container ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 0.9rem;
    margin-bottom: 0;
    padding: 0;
}

.footer_container ul li {
    padding-left: 1rem;
}

.footer_container .footer_content {
    padding-bottom: 5rem;
}

.footer_container .footer_content .stretch {
    flex: 1;
}

.footer_container .footer_content .footer_area {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer_container .footer_content .footer_area:nth-child(1) {
    margin-bottom: 2rem;
}

.footer_container .footer_content .footer_area .footer_logo img {
    width: 8rem;
    height: auto;
}

.footer_container .footer_content .footer_area .copyright p {
    font-size: 0.8rem;
    margin: 0;
}

.footer_container .footer_content .footer_area .sns i {
    font-size: 1.5rem;
    margin-left: 1rem;
}




.footer_container .footer_list {
    display: flex;
    flex-direction: row;
    font-size: 0.7625rem;
    justify-content: space-between;
}

.footer_container .footer_list .customer_info dl {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
}

.footer_container .footer_list .customer_info dl dd {
    margin-bottom: 0;
}

.footer_container .footer_list .customer_info dl dt {
    font-weight: 400;
}

.footer_container .footer_list p {
    margin-bottom: 0;
}

.footer_container .footer_list .notice_area {
    width: 35%;
}

#unfollow-Btn, #follow-Btn{
    cursor:pointer;
    color: #0437F2;
    background: transparent;
    border: transparent;
}

.carousel-item{
    width: 100%;
    height: 500px;
}
