.imgKakao1{
    background-image: url("/static/img/kakao01.gif");
    width: 240px;
    height: 240px;
    margin-left: 15px;
    margin-right: 15px;
    float: left;
}
.imgKakao2{
    background-image: url("/static/img/kakao02.gif");
    width: 240px;
    height: 240px;
    margin-left: 15px;
    margin-right: 15px;
    float: left;
}
.imgKakao3{
    background-image: url("/static/img/kakao03.gif");
    width: 240px;
    height: 240px;
    margin-left: 15px;
    margin-right: 15px;
    float: left;
}
.imgKakao4{
    background-image: url("/static/img/kakao04.gif");
    width: 240px;
    height: 240px;
    margin-left: 15px;
    margin-right: 15px;
    float: left;
}
.imgKakao5{
    background-image: url("/static/img/kakao05.gif");
    width: 240px;
    height: 240px;
    margin-left: 15px;
    margin-right: 15px;
    float: left;
}


.mouseOver1, .mouseOver2, .mouseOver3, .mouseOver4, .mouseOver5{
    width: 240px;
    height: 240px;
    background: black;
    opacity: 70%;
    color: white;
    font-size: 30px;
    text-align: center;
    padding-top: 100px;
    cursor : pointer;
    font-weight: bold;
    display: none;
}
.imgKakao1{
    margin-left: 80px;
}
#imgHref{
    padding: 150px;
}

.mainPage .main_banner {
    height: 500px;
}

.mainPage .main_banner:nth-child(1) {
    background-color: #ddffe6;
}

.mainPage .main_banner .event_banner {
    width: var(--width-max);
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.mainPage .main_banner .event_banner img {
    position: absolute;
    bottom: 0;
}

.mainPage .main_banner .event_banner .banner1 div img:nth-child(1) {
    width: 500px;
}

.mainPage .main_banner .event_banner .banner1 div img:nth-child(2) {
    width: 150px;
    left: 220px;
    top: 180px;
}

.mainPage .main_banner .event_banner .banner_text {
    position: absolute;
    top: 180px;
    right: 20px;
}

.mainPage .main_banner .event_banner .banner_text h1 {
    color: #4b985f;
    font-family: 'GmarketSansBold';
    font-size: 3.5rem;
    text-align: right;
    margin: 0;
}

.mainPage .main_banner .event_banner .banner_text p {
    color: #4b985f;
    font-family: 'S-CoreDream-3Light';
    text-align: right;
    margin: 0;
}

.mainPage .main_banner .event_banner .banner_text p:nth-child(1) {
    font-size: 1.3rem;
    font-weight: bold;
}

.mainPage .main_banner .event_banner .banner_text .banner_text_detail {
    line-height: 1.7rem;
    padding-top: 2rem;
}

.main_content {
    margin-top: 5rem;
}


.product_title {
    width: var(--width-max);
    display: flex;
    flex-direction: column;
    margin: 0 auto 1rem;
    padding: 0;
}

.product {
    width: var(--width-max);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product > span{
    padding-left: 20px;
    padding-right: 20px;
}

.product > a {
    width: 23%;
    color: var(--font-color-default);
    text-decoration: none;
}

.product .product_detail .detail_img {
    border: 0.0625rem solid var(--border-color-default);
    position: relative;
    padding-top: 100%;
    overflow: hidden;
}

.product .product_detail .detail_img img {
    width: 90%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product .product_detail .detail_text {
    font-size: 0.8625rem;
    margin-top: 1rem;
}
.product .product_detail .detail_text .name p {
    color: #000;
    margin-bottom: 0.3rem;
}

.product .product_detail .detail_text .name p:nth-child(1) {
    font-weight: 600;
}

.product .product_detail .detail_text .price .price_num {
    font-size: 0.95rem;
    font-weight: 800;
}

.product .product_detail .detail_text .price .price_num em {
    font-style: normal;
}

.product .product_detail .detail_text .price .price_type {
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 0.8rem;
}






