<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="temp/thymeleaf_layout">
<head>
    <meta charset="UTF-8">
    <title>메인!</title>
</head>

<th:block layout:fragment="content">

    <div> 여기는 메인!</div>

    <input type="button"><a href="auction/list/">경매 리스트로 가기</a>
    <input type="button"><a href="auction/list/">용품 리스트로 가기</a>

    <input type="button"><a href="customer/list/1">리뷰 리스트로 가기</a>
    <input type="button"><a href="customer/list/2">커뮤니티 리스트로 가기</a>
    <input type="button"><a href="customer/list/3">고객센터 리스트로 가기</a>

</th:block>
