<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="temp/thymeleaf_layout">
<head>
    <meta charset="UTF-8">
    <title>메인!</title>
    <link rel="stylesheet" th:href="@{/static/css/main.css}"/>
    <script defer th:src="@{/static/js/main.js}"></script>
</head>
<th:block layout:fragment="content">
    <div class="mainPage">
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active main_banner" data-bs-interval="4000">
					<div class="d-block w-80 event_banner">
						<div class="banner1">
							<div>
								<img src="/static/img/main_banner1.png" alt="인스타그램 이벤트">
								<img src="/static/img/main_banner1_insta.png" alt="인스타그램 계정">
							</div>
							<div class="banner_text">
								<p>우리 SNS 친구해요!</p>
								<h1>팔로우 이벤트</h1>
								<p class="banner_text_detail">LAGARTO 인스타그램 계정을 팔로우 하고<br>
									1000 포인트 받아가세요</p>
							</div>
						</div>
					</div>
                </div>
				<div class="carousel-item main_banner" data-bs-interval="4000">
					<div class="d-block w-80 event_banner">
						<div class="banner2">
							<div>
								<img src="/static/img/main_banner2.png" alt="첫 구매 이벤트">
							</div>
							<div class="banner_text">
								<p>WELCOME EVENT</p>
								<h1><span>첫 거래시</span><br>5000원 혜택</h1>
							</div>
						</div>
					</div>
				</div>
            </div>
            <button id="btnTop10" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="prev">
                <span><i style="color: #1d1d1d; font-size: 50px" class="fa-solid fa-chevron-left"></i></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="next">
                <span><i style="color: #1d1d1d; font-size: 50px" class="fa-solid fa-angle-right"></i></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <div class="main_content">
			<div class="home_products">
				<div class="product_title topProductTop10">
					<h2>companion animal</h2>
					<p>반려동물</p>
				</div>
				<div class="product">
					<a href="#">
						<div class="product_detail">
							<div class="detail_img">
								<img src="/static/img/lizard1.jpg" class="card-img-top" alt="...">
							</div>
							<div class="detail_text">
								<div class="name">
									<p>리자드/모니터</p>
									<p>수단플레이트리자드 (Sudan Plate Lizard)</p>
								</div>
								<div class="price">
									<div class="price_num">
										<em>120,000</em>
										<span>원</span>
									</div>
									<div class="price_type">
										<p>즉시 구매가</p>
									</div>
								</div>
							</div>
						</div>
					</a>
					<a href="#">
						<div class="product_detail">
							<div class="detail_img">
								<img src="/static/img/lizard1.jpg" class="card-img-top" alt="...">
							</div>
							<div class="detail_text">
								<div class="name">
									<p>리자드/모니터</p>
									<p>수단플레이트리자드 (Sudan Plate Lizard)</p>
								</div>
								<div class="price">
									<div class="price_num">
										<em>120,000</em>
										<span>원</span>
									</div>
									<div class="price_type">
										<p>즉시 구매가</p>
									</div>
								</div>
							</div>
						</div>
					</a>
					<a href="#">
						<div class="product_detail">
							<div class="detail_img">
								<img src="/static/img/lizard1.jpg" class="card-img-top" alt="...">
							</div>
							<div class="detail_text">
								<div class="name">
									<p>리자드/모니터</p>
									<p>수단플레이트리자드 (Sudan Plate Lizard)</p>
								</div>
								<div class="price">
									<div class="price_num">
										<em>120,000</em>
										<span>원</span>
									</div>
									<div class="price_type">
										<p>즉시 구매가</p>
									</div>
								</div>
							</div>
						</div>
					</a>
					<a href="#">
						<div class="product_detail">
							<div class="detail_img">
								<img src="/static/img/lizard1.jpg" class="card-img-top" alt="...">
							</div>
							<div class="detail_text">
								<div class="name">
									<p>리자드/모니터</p>
									<p>수단플레이트리자드 (Sudan Plate Lizard)</p>
								</div>
								<div class="price">
									<div class="price_num">
										<em>120,000</em>
										<span>원</span>
									</div>
									<div class="price_type">
										<p>즉시 구매가</p>
									</div>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>

			<div class="sub_banner sb1">
				<a href="auction/list">
					<img src="/static/img/sub_banner1.png" alt="도마뱀 게시판 이동">
				</a>
			</div>

			<div class="home_products">
				<div class="product_title topProductTop10">
					<h2>new item</h2>
					<p>신규상품</p>
				</div>
				<div class="product">
					<a href="#">
						<div class="product_detail">
							<div class="detail_img">
								<img src="/static/img/lizard1.jpg" class="card-img-top" alt="...">
							</div>
							<div class="detail_text">
								<div class="name">
									<p>리자드/모니터</p>
									<p>수단플레이트리자드 (Sudan Plate Lizard)</p>
								</div>
								<div class="price">
									<div class="price_num">
										<em>120,000</em>
										<span>원</span>
									</div>
									<div class="price_type">
										<p>즉시 구매가</p>
									</div>
								</div>
							</div>
						</div>
					</a>
					<a href="#">
						<div class="product_detail">
							<div class="detail_img">
								<img src="/static/img/lizard1.jpg" class="card-img-top" alt="...">
							</div>
							<div class="detail_text">
								<div class="name">
									<p>리자드/모니터</p>
									<p>수단플레이트리자드 (Sudan Plate Lizard)</p>
								</div>
								<div class="price">
									<div class="price_num">
										<em>120,000</em>
										<span>원</span>
									</div>
									<div class="price_type">
										<p>즉시 구매가</p>
									</div>
								</div>
							</div>
						</div>
					</a>
					<a href="#">
						<div class="product_detail">
							<div class="detail_img">
								<img src="/static/img/lizard1.jpg" class="card-img-top" alt="...">
							</div>
							<div class="detail_text">
								<div class="name">
									<p>리자드/모니터</p>
									<p>수단플레이트리자드 (Sudan Plate Lizard)</p>
								</div>
								<div class="price">
									<div class="price_num">
										<em>120,000</em>
										<span>원</span>
									</div>
									<div class="price_type">
										<p>즉시 구매가</p>
									</div>
								</div>
							</div>
						</div>
					</a>
					<a href="#">
						<div class="product_detail">
							<div class="detail_img">
								<img src="/static/img/lizard1.jpg" class="card-img-top" alt="...">
							</div>
							<div class="detail_text">
								<div class="name">
									<p>리자드/모니터</p>
									<p>수단플레이트리자드 (Sudan Plate Lizard)</p>
								</div>
								<div class="price">
									<div class="price_num">
										<em>120,000</em>
										<span>원</span>
									</div>
									<div class="price_type">
										<p>즉시 구매가</p>
									</div>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>

			<div class="sub_banner sb2">
				<a href="supplies/list/1">
					<img src="/static/img/sub_banner2.png" alt="용품-먹이 게시판 이동">
				</a>
			</div>

			<div class="home_products">
				<div class="product_title topProductTop10">
					<h2>popular item</h2>
					<p>인기상품</p>
				</div>
				<div class="product">
					<a href="#">
						<div class="product_detail">
							<div class="detail_img">
								<img src="/static/img/lizard1.jpg" class="card-img-top" alt="...">
							</div>
							<div class="detail_text">
								<div class="name">
									<p>리자드/모니터</p>
									<p>수단플레이트리자드 (Sudan Plate Lizard)</p>
								</div>
								<div class="price">
									<div class="price_num">
										<em>120,000</em>
										<span>원</span>
									</div>
									<div class="price_type">
										<p>즉시 구매가</p>
									</div>
								</div>
							</div>
						</div>
					</a>
					<a href="#">
						<div class="product_detail">
							<div class="detail_img">
								<img src="/static/img/lizard1.jpg" class="card-img-top" alt="...">
							</div>
							<div class="detail_text">
								<div class="name">
									<p>리자드/모니터</p>
									<p>수단플레이트리자드 (Sudan Plate Lizard)</p>
								</div>
								<div class="price">
									<div class="price_num">
										<em>120,000</em>
										<span>원</span>
									</div>
									<div class="price_type">
										<p>즉시 구매가</p>
									</div>
								</div>
							</div>
						</div>
					</a>
					<a href="#">
						<div class="product_detail">
							<div class="detail_img">
								<img src="/static/img/lizard1.jpg" class="card-img-top" alt="...">
							</div>
							<div class="detail_text">
								<div class="name">
									<p>리자드/모니터</p>
									<p>수단플레이트리자드 (Sudan Plate Lizard)</p>
								</div>
								<div class="price">
									<div class="price_num">
										<em>120,000</em>
										<span>원</span>
									</div>
									<div class="price_type">
										<p>즉시 구매가</p>
									</div>
								</div>
							</div>
						</div>
					</a>
					<a href="#">
						<div class="product_detail">
							<div class="detail_img">
								<img src="/static/img/lizard1.jpg" class="card-img-top" alt="...">
							</div>
							<div class="detail_text">
								<div class="name">
									<p>리자드/모니터</p>
									<p>수단플레이트리자드 (Sudan Plate Lizard)</p>
								</div>
								<div class="price">
									<div class="price_num">
										<em>120,000</em>
										<span>원</span>
									</div>
									<div class="price_type">
										<p>즉시 구매가</p>
									</div>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>

			<div class="sub_banner sb3">
				<a href="supplies/list/3">
					<img src="/static/img/sub_banner3.png" alt="용품-사육장 게시판 이동">
				</a>
			</div>

<!--			<span>-->
<!--				<div class="imgKakao1"><span><label class="mouseOver1">도마뱀 리스트</label></span></div>-->
<!--				<div class="imgKakao2"><span><label class="mouseOver2">용품 리스트</label></span></div>-->
<!--				<div class="imgKakao3"><span><label class="mouseOver3">리뷰 리스트</label></span></div>-->
<!--				<div class="imgKakao4"><span><label class="mouseOver4">커뮤니티 리스트</label></span></div>-->
<!--				<div class="imgKakao5"><span><label class="mouseOver5">고객센터</label></span></div>-->
<!--			</span>-->
<!--			<div id="imgHref"></div>-->
        </div>
    </div>
</th:block>