<div xmlns:th="http://www.thymeleaf.org">
    <div>게시판 이름 : <span th:text="${data.board_nm}"></span></div>
    <div th:if="${data.board_cd == 1}">
        <div>상품 제목 : <span th:text="${data.productTitle}"></span></div>
        <div>별점 : <span th:each="num : ${#numbers.sequence(1,data.rating)}">★</span></div>
    </div>
    <div>글 번호 : <span th:text="${data.iboard}"></span></div>
    <div>제목 : <span th:text="${data.title}"></span></div>
    <div>글쓴이 : <span th:text="${data.nickname}"></span></div>
    <div>작성일시 : <span th:text="${data.rdt}"></span></div>
    <div>내용</div>
    <div th:text="${data.ctnt}"></div>
    <div th:each="fileList : ${fileList}">
        <img th:src="@{/uploadfile/customer/} + ${fileList.iboard} + @{/} + ${fileList.save_name}" width="300px">
    </div>
</div>