<div xmlns:th="http://www.thymeleaf.org">
    <div>게시판 이름 : <span th:text="${data.board_nm}"></span></div>
    <div th:if="${data.board_cd == 1}">
        <div>상품 제목 : <span th:text="${data.productTitle}"></span></div>
        <div>별점 :
            <th:block th:if="${data.rating == 0}">
                <span>평가가 없습니다.</span>
            </th:block>
            <th:block>
                <span th:text="${'★'* data.rating}"></span>
            </th:block>
        </div>
    </div>
    <div>글 번호 : <span th:text="${data.iboard}"></span></div>
    <div>제목 : <span th:text="${data.title}"></span></div>
    <div  id="clickOpenUser">글쓴이 : <span id="userNick" th:text="${data.nickname}"></span></div>
    <div>작성일시 : <span th:text="${data.rdt}"></span></div>
    <div>내용</div>
    <div th:text="${data.ctnt}"></div>
    <div>

        <img th:each="fileList : ${fileList}" th:src="@{/uploadfile/customer/} + ${fileList.iboard} + @{/} + ${fileList.save_name}" width="300px">

    </div>
</div>