<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="temp/thymeleaf_layout">

<head>
    <title>상세 정보</title>
    <link rel="stylesheet" th:href="@{/css/customer/detail.css}">
    <script defer th:src="@{/js/customer/detail.js}"></script>
</head>

<th:block layout:fragment="content">

    <div class="detail" th:with="data=${data}">
    <div th:if="${session.loginUser != null && session.loginUser.iuser == data.iuser}">
        <button id="modBtn">수정</button>
        <button id="delBtn">삭제</button>
    </div>
    <div>제목 : <span th:text="${data.title}"/></div>
    <div>작성자 : <span th:text="${data.nickname}"/></div>
    <div>조회수 : <span th:text="${data.hits}"/></div>
    <div>내용</div>
    <div th:text="${data.ctnt}"></div>
    </div>
</th:block>
</html>