<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="temp/thymeleaf_layout">

<head>
    <title>리스트</title>
    <link rel="stylesheet" th:href="@{/css/customer/list.css}">
    <script defer th:src="@{/js/customer/list.js}"></script>
</head>

<th:block layout:fragment="content">
    <div class="main">
        <div id="data" th:with="board_cd=${board_cd}" th:data-board_cd="${board_cd}"></div>
        <div th:switch="${board_cd}">
            <span th:case="1"><h1>리뷰</h1></span>
            <span th:case="2"><h1>커뮤니티</h1></span>
            <span th:case="3"><h1>고객센터</h1></span>
        </div>

        <!--/* 검색 form */-->
        <form id="searchForm" th:action="|@{/customer/list/}${board_cd}|" method="get" th:onsubmit="return searchBoard(this)" role="form">
            <!-- /* 현재 페이지 번호, 페이지당 출력할 데이터 개수, 페이지 하단에 출력할 페이지 개수 Hidden 파라미터 */ -->
            <input type="hidden" name="currentPageNo" value="1" />
            <input type="hidden" name="recordsPerPage" th:value="${params.recordsPerPage}" />
            <input type="hidden" name="pageSize" th:value="${params.pageSize}" />
            <span class="form-group">
                <select name="searchType" class="form-control">
                    <option value="" th:selected="${#strings.isEmpty( params.searchType )}">전체</option>
                    <option value="title" th:selected="${#strings.equals( params.searchType, 'title' )}">제목</option>
                    <option value="ctnt" th:selected="${#strings.equals( params.searchType, 'ctnt' )}">내용</option>
                    <option value="nickname" th:selected="${#strings.equals(params.searchType, 'nickname')}">닉네임</option>
                </select>
            </span>
            <span class="form-group">
                <input type="text" name="searchKeyword" class="form-control" th:value="${params.searchKeyword}" />
            </span>
            <button type="submit" class="btn btn-primary"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>

        <div th:if="${session.loginUser != null && board_cd != 1}">
            <div th:hidden th:data-loginUser="${loginUser}"></div>
            <button th:onclick="location.href=`/customer/write?board_cd=`+[[${board_cd}]]">글쓰기</button>
        </div>
        <table class="table table-hover">
            <thead>
            <tr class="table-dark">
                <th>번호</th>
                <th th:if="${board_cd == 1}">상품제목</th>
                <th th:width="500">제목</th>
                <th>작성자</th>
                <th>조회수</th>
                <th>작성일시</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="notice : ${notice}" class="record pointer" th:data-iboard="${notice.iboard}">
                    <div hidden th:data-iuser="${notice.iuser}"/>
                    <td th:text="${notice.iboard}">번호</td>
                        <td>
                            <span th:data-noticeYn="${notice.noticeYn}" th:if="${notice.noticeYn eq 'Y'}">🔔</span>
                            <span th:text="${notice.title}">제목</span>
                        </td>
                    </td>
                    <td th:text="${notice.nickname}">작성자</td>
                    <td th:text="${notice.hits}">조회수</td>
                    <td th:text="${notice.rdt}">작성일시</td>
                </tr>
                <div th:each="item : ${list}" th:if="${item.noticeYn != 'Y'}">
                    <div th:if="${item.secretYn == 'Y' && session.loginUser != null}">
<!--                        iuser 값이 0 이면 관리자-->
                        <tr class="record pointer" th:if="${item.iuser == loginUser || loginUser == 1}" th:data-iboard="${item.iboard}" >
                            <div hidden th:data-iuser="${item.iuser}"></div>
                            <td th:text="${item.iboard}">번호</td>
                            <td th:if="${board_cd == 1}" th:text="${item.productTitle}">상품제목</td>
                            <td>
                                <th:block th:data-secretYn="${item.secretYn}">
                                    <span th:if="${item.secretYn eq 'Y'}">🔒</span>
                                </th:block>
                                <span th:text="${item.title}">제목</span>
                            </td>
                            <td th:text="${item.nickname}">작성자</td>
                            <td th:text="${item.hits}">조회수</td>
                            <td th:text="${item.rdt}">작성일시</td>
                        </tr>
                    </div>

                    <tr class="record pointer" th:unless="${item.secretYn == 'Y'}" th:data-iboard="${item.iboard}" >
                        <div hidden th:data-iuser="${item.iuser}"></div>
                        <td th:text="${item.iboard}">번호</td>
                        <td th:if="${board_cd == 1}" th:text="${item.productTitle}">상품제목</td>
                        <td>
                            <th:block th:data-noticeYn="${item.noticeYn}">
                                <span th:if="${item.noticeYn eq 'Y'}">🔔</span>
                            </th:block>
                            <th:block th:data-secretYn="${item.secretYn}">
                                <span th:if="${item.secretYn eq 'Y'}">🔒</span>
                            </th:block>
                            <span th:text="${item.title}">제목</span>
                        </td>
                        <td th:text="${item.nickname}">작성자</td>
                        <td th:text="${item.hits}">조회수</td>
                        <td th:text="${item.rdt}">작성일시</td>
                    </tr>
                </div>
            </tbody>
        </table>

        <div class="page_wrap">
            <nav th:if="${params != null and params.paginationInfo.totalRecordCount > 0}" th:object="${params.paginationInfo}" th:with="info=${params.paginationInfo}" aria-label="Page navigation" class="text-center">
                <ul class="pagination">
                    <li th:if="*{hasPreviousPage == true}" th:onclick="movePage([[ ${#request.requestURI} ]], [[ ${params.makeQueryString(1)} ]])" class="pprev">
                        <a href="javascript:void(0)" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                    </li>
                    <li th:if="*{hasPreviousPage == true}" th:onclick="movePage([[ ${#request.requestURI} ]], [[ ${params.makeQueryString(info.firstPage - 1)} ]])" class="prev">
                        <a href="javascript:void(0)" aria-label="Previous"><span aria-hidden="true">&lsaquo;</span></a>
                    </li>
                    <li th:each="pageNo : *{#numbers.sequence( firstPage, lastPage )}" th:class="${pageNo == params.currentPageNo} ? 'active'">
                        <a href="javascript:void(0)" th:text="${pageNo}" th:onclick="movePage([[ ${#request.requestURI} ]], [[ ${params.makeQueryString(pageNo)} ]])" class="page-item"></a>
                    </li>
                    <li th:if="*{hasNextPage == true}" th:onclick="movePage([[ ${#request.requestURI} ]], [[ ${params.makeQueryString(info.lastPage + 1)} ]])" class="next">
                        <a href="javascript:void(0)" aria-label="Next"><span aria-hidden="true">&rsaquo;</span></a>
                    </li>
                    <li th:if="*{hasNextPage == true}" th:onclick="movePage([[ ${#request.requestURI} ]], [[ ${params.makeQueryString(info.totalPageCount)} ]])" class="nnext">
                        <a href="javascript:void(0)" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</th:block>
</html>