<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="temp/thymeleaf_layout">

<head>
    <title>글쓰기</title>
    <link rel="stylesheet" th:href="@{/css/customer/write.css}">
    <script defer th:src="@{/js/customer/write.js}"></script>
</head>

<th:block layout:fragment="content">
    <div class="main">
        <div class="container">
            <h1>글쓰기</h1>
            <div>
                <form id="writeFrm" th:action="@{/customer/write}" th:object="${entity}" method="post">
                    <input type="hidden" id="board_cd" th:field="*{board_cd}" th:value="${param.board_cd}">
                    <div class="form-floating mb-3">
                        <input type="text" id="title" class="form-control" placeholder="title" th:field="*{title}">
                        <label class="form-label" for="title">제목</label>
                    </div>
                    <div class="star-rating space-x-4 mx-auto" th:if="*{board_cd == 1}">
                        <input type="radio" id="5-stars" th:name="rating" th:value="5" v-model="ratings"/>
                        <label for="5-stars" class="star pr-4">★</label>
                        <input type="radio" id="4-stars" th:name="rating" th:value="4" v-model="ratings"/>
                        <label for="4-stars" class="star">★</label>
                        <input type="radio" id="3-stars" th:name="rating" th:value="3" v-model="ratings"/>
                        <label for="3-stars" class="star">★</label>
                        <input type="radio" id="2-stars" th:name="rating" th:value="2" v-model="ratings"/>
                        <label for="2-stars" class="star">★</label>
                        <input type="radio" id="1-star" th:name="rating" th:value="1" v-model="ratings" />
                        <label for="1-star" class="star">★</label>
                    </div>
                    <div class="mb-3">
                        <label for="ctnt" class="form-label">내용</label>
                        <textarea class="form-control" id="ctnt" th:field="*{ctnt}" rows="3"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="ctnt_img" class="form-label"></label>
                        <input class="form-control form-control-sm" id="ctnt_img" th:field="*{ctnt_img}" type="file"
                               multiple="multiple">
                    </div>
                    <div>
                        <button class="btn btn-primary" type="submit">저장</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</th:block>
</html>