<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="header">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/main"><img th:src="@{/static/img/lagarto_logo.svg}" alt="" width="100" height="24"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/auction/list" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">도마뱀</a>
                            <ul class="lnb dropdown-menu">
                                <li><a class="dropdown-item" href="/auction/list/">도마뱀 전체보기</a></li>
                                <li><a class="dropdown-item" href="/auction/list/1">리자드/모니터</a></li>
                                <li><a class="dropdown-item" href="/auction/list/2">게코/스킨크</a></li>
                                <li><a class="dropdown-item" href="/auction/list/3">레오파드 게코</a></li>
                                <li><a class="dropdown-item" href="/auction/list/4">크레스티드 게코</a></li>
                                <li><a class="dropdown-item" href="/auction/list/5">카멜레온</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="">용품</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/customer/list/1">리뷰</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/customer/list/2">커뮤니티</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/customer/list/3">고객센터</a>
                        </li>
                        <li class="nav-item" th:if="${session.loginUser == null}">
                            <a class="nav-link active" href="/user/login">로그인</a>
                        </li>
                        <li class="nav-item" th:if="${session.loginUser != null}">
                            <a class="nav-link active" href="/user/mypage">마이페이지</a>
                        </li>
                        <li class="nav-item" th:if="${session.loginUser != null}">
                            <a class="nav-link active" href="/user/logout">로그아웃</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
</th:block>

    <th:block th:fragment="content">

    </th:block>


<th:block th:fragment="footer">

</th:block>

</html>