/*별점 CSS*/
#writeFrm fieldset{
    display: inline-block; /* 하위 별점 이미지들이 있는 영역만 자리를 차지함.*/
    direction: rtl; /* 이모지 순서 반전 */
    border: 0; /* 필드셋 테두리 제거 */
}
#writeFrm input[type=radio]{
    display: none; /* 라디오박스 감춤 */
}
#writeFrm input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 #f6ce34; /* 마우스 클릭 체크 */
}
#writeFrm fieldset label {
    font-size: 2em; /* 이모지 크기 */
    color: transparent; /* 기존 이모지 컬러 제거 */
    text-shadow: 0 0 0 #f0f0f0; /* 새 이모지 색상 부여 */
}
#writeFrm fieldset label:hover{
    text-shadow: 0 0 0 #f6ce34; /* 마우스 호버 */
}
#writeFrm fieldset label:hover ~ label{
    text-shadow: 0 0 0 #f6ce34; /* 마우스 호버 뒤에오는 이모지들 */
}

/*파일 CSS*/
.filebox input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.filebox.bs3-primary .col-sm-10>label {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.filebox .col-sm-10>label {
    display: inline-block;
    padding: .5em .75em;
    color: #999;
    font-size: inherit;
    font-weight: 600;
    line-height: normal;
    vertical-align: middle;
    background-color: #fdfdfd;
    cursor: pointer;
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
}
.filebox .upload-name {
    display: inline-block;
    width: 350px;
    padding: .5em .75em;
    /* label의 패딩값과 일치 */
    font-size: inherit;
    font-family: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #f5f5f5;
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
    -webkit-appearance: none;
    /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
}
/*
 * end of file css
 */